# To execute this docker-compose yml file use docker-compose -f <file_name> up
# Add the "-d" flag at the end for deattached execution
version: '3'

services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
  web:
    build: .
    environment:
      - SELENIUM_HOST=selenium
      - SELENIUM_PORT=4444
      - TEST_APP_HOST=web
      - TEST_PORT=3001
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - .:/app
    stdin_open: true
    tty: true
    depends_on:
      - db

  selenium:
    image: selenium/standalone-chrome-debug:3.0.1-germanium
    stdin_open: true
    tty: true
